@import "../deps";


$case_stack: 620px;


#case {
  margin-bottom: 88px;

  .case-head {
    margin-bottom: 55px;

    .case-head-back-wrap {
      margin-top: 30px;
      margin-bottom: 61px;
      width: 100%;

      @include for-tablet-portrait-up() {
        margin-top: 43px;
      }
      @include for-desktop-up() {
        margin-top: 71px;
      }

      .case-head-back {
        display: flex;
        cursor: pointer;

        &:hover {
          opacity: .7;
        }

        .case-head-arrow {
          width: 20px;
          margin-right: 10px;
          @include for-desktop-up() {
            margin-right: 14px;
          }
        }

        .case-head-back-text {
          font-weight: 800;
          line-height: 152%;
          @include font-size(20px);
          color: $blue;
        }
      }
    }

    .case-inner {
      display: flex;
      flex-wrap: wrap;
    }

    .case-head-left {
      box-sizing: border-box;
      @include media_interval($case_stack, 0) {
        width: 50%;
        margin-bottom: 50px;
      }
      @include media_interval($media-desktop, 0) {
        padding-right: 20px;
      }
    }

    .case-head-right {
      position: relative;
      @include media_interval($case_stack, 0) {
        width: 50%;
      }
      @include media_interval(0, $case_stack) {
        overflow: hidden;
        padding-top: 15px;
        margin-right: -$grid-gutter-width-tablet;
        width: calc(100% + #{$grid-gutter-width-tablet});
        height: 340px;
      }
      @include media_interval(0, $media-tablet-portrait) {
        margin-left: -$grid-gutter-width-mobile;
        margin-right: -$grid-gutter-width-mobile;
        width: calc(100% + #{$grid-gutter-width-mobile * 2});
      }

      .case-img {
        position: relative;
        transform: translateZ(0); // fix img blurry

        @include media_interval($case_stack, 0) {
          max-width: initial;
          position: absolute;
          bottom: 0;
          right: -90px;
        }
        @include media_interval(700px, 800px) {
          right: -115px;
        }
        @include media_interval(650px, 700px) {
          right: -150px;
        }
        @include media_interval(0, 650px) {
          right: -175px;
        }
        @include media_interval(0, $case_stack) {
          right: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: 100% bottom;
        }
        @include media_interval(0, $media-tablet-portrait) {
          object-position: calc(100% + #{$grid-gutter-width-mobile / 2}) bottom;
        }
      }
    }

    .case-head-box {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      @include for-phone-only() {
        margin-bottom: 20px;
      }

      .case-icon {
        max-width: 60px;
        @include for-phone-only() {
          max-width: 40px;
        }
      }

      .case-title {
        font-weight: 800;
        line-height: 152%;
        margin-left: 22px;
        @include font-size(24px);
        @include for-phone-only() {
          margin-left: 14px;
        }
        @include for-tablet-landscape-up() {
          @include font-size(28px);
        }
        @include for-desktop-up() {
          @include font-size(32px);
        }
      }
    }

    .case-desc-box {

      .case-short-desc {
        line-height: 156.5%;
        @include font-size(18px);
        margin-bottom: 16px;

        @include for-tablet-landscape-up() {
          @include font-size(21px);
        }
        @include for-desktop-up() {
          @include font-size(24px);
        }
      }

      .case-desc {
        line-height: 156.5%;
        @include font-size(16px);

        @include for-tablet-landscape-up() {
          @include font-size(18px);
        }
        @include for-desktop-up() {
          @include font-size(20px);
        }
      }
    }

    .case-links-box {
      display: flex;
      flex-wrap: wrap;
      margin-top: 87px;

      @include media_interval(0, $case_stack) {
        margin-top: 34px;
      }

      .store + .website {
        margin-top: 15px;
      }

      .website {
        width: 100%;
        @include font-size(16px);
        @include for-tablet-landscape-up() {
          @include font-size(18px);
        }

        a {
          color: $blue;

          &:hover {
            opacity: .7;
          }
        }
      }

      .store {
        margin-right: 15px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .case-body {

    .case-body-inner {

      .plain-text {
        margin-bottom: 63px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
