@import "../../deps";


#contact-section {
  padding-bottom: 152px;
  @include for-tablet-landscape-up() {
    padding-bottom: 122px;
  }

  .contact-inner {

    .plain-text {
      font-weight: 500;
      @include for-phone-only() {
        @include font-size(16px);
      }
    }
  }
}
