//=======================
// Точки для media-queries
//=======================
$media-big-desktop: 1200px;
$media-desktop: 992px;
$media-tablet-landscape: 768px;
$media-tablet-portrait: 480px;

//=======================
// Grid
//=======================
$grid-max-width: 1152px;
$grid-gutter-width: 82px;
$grid-gutter-width-tablet: 50px;
$grid-gutter-width-mobile: 20px;

//=======================
// Цвета
//=======================
$white: #fff;
$black: #000;
$taupe: #CCCCCC;
$gray: #767676;
$blue: #0094ff;
$sky: #99D4FF;
$red: #E94444;

$text-color: #222222;

//=======================
// Paddings
//=======================
$inner-padding: 85px;
$inner-padding-tablet: 40px;
